.Navbar {
    background: var(--bizim-gri);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    z-index: 10;
    border-bottom: 1px solid black;
}

.Menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 80px;
    list-style: none;
    text-align: center;
    justify-content: center;
    width: 70vw;
    margin-right: 2rem;
}

.Logo {
    color: wheat;
    text-decoration: none;
    justify-self: center;
}

.Links {
    color: var(--bizim-parlak-yesil);
    text-decoration: none;
}

.Links:hover {
    border-bottom: 3px solid var(--bizim-parlak-yesil);
    padding: 1rem;
    opacity: 65%;
    color: var(--bizim-parlak-yesil);
    border-radius: .4rem;
    transition: all 0.3s ease-in;
}

.Projects {
    color: var(--bizim-parlak-yesil);
    text-decoration: none;
}

.Projects:hover {
    border-bottom: 3px solid var(--bizim-parlak-yesil);
    padding: 1rem;
    opacity: 65%;
    color: var(--bizim-parlak-yesil);
    border-radius: .4rem;
    transition: all 0.3s ease-in;
}

.Cuming {
    color: black;
    position: relative;
    display: block;
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.2em;
}

.Cuming:before, .Cuming:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.Cuming:before {
    color: var(--FIREOPAL);
    z-index: 1;
    transform: translate(-.5px, -.5px);
}

.Cuming:after {
    color: var(--orange);
    z-index: 2;
    transform: translate(2px, -1px);
}

.Icon {
    color: white;
    display: none;
}

@media screen and (max-width:960px) {
    .Navbar {
        position: relative;
    }
    .Menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .Menu:active {
        background-color: aquamarine;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .Links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .Logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(100%, 10%);
    }
    .Icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}