.RegisterContainer {
    max-width: 1100px;
    overflow: auto;
}

.RegisterAboutForm {
    margin-top: 1000px;
}

.Card {
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.EditRegister {
    padding: 5px;
    margin-top: 20px;
}

.EditRegister input[type='text'], .EditRegister input[type='password'], .EditRegister select {
    border: none;
    border-bottom: 1px solid var(--celtic-blue);
}

.RegisterBtn {
    outline: none;
    margin-top: 10px;
    padding: 10px 50px;
    color: var(--celtic-blue);
    display: inline-block;
    border-radius: 10px;
    border: 1px solid var(--celtic-blue);
    font-weight: bold;
}

.RegisterBtn:hover {
    background-color: var(--celtic-blue);
    color: white;
}

.RegisterBtn:active {
    padding: 8px 49px;
}

/* Register LIST CSS */

.RegisterList {
    margin-top: 3rem;
    border-collapse: collapse;
}

/* 
This area for the table column and row lines!!!
.ProjectList td, .ProjectList th {
    border: 1px solid rgba(37, 38, 39, 0.1);
} 
*/

.RegisterList th {
    text-align: center;
    background-color: rgba(8, 253, 216, 0.5);
    padding: 10px 15px;
}

.RegisterList td {
    border-bottom: 1px solid rgba(37, 38, 39, 1);
    text-align: center;
}

.RegisterList tr:nth-child(even) {
    background-color: rgba(37, 38, 39, 0.3);
}

.RegisterList tr:hover {
    background-color: #dddddd;
}

.RegisterListBtn {
    outline: none;
    margin: 10px 5px;
    color: var(--celtic-blue);
    display: inline-block;
    border-radius: 10px;
    border: 1px solid var(--celtic-blue);
    font-weight: bold;
    font-size: 1.2rem;
}

.RegisterListBtn:hover {
    background-color: var(--celtic-blue);
    color: white;
}

/* Register LIST CSS END */