.Container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.Flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.GridCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.AboutCard {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 50vh;
    height: 35vh;
    margin: 1rem;
    box-sizing: border-box;
}

.About .AboutCard {
    text-align: center;
    max-width: 25%;
    transition: transform 0.2s ease-in;
}

.About .AboutCard a, .About .AboutCard a:visited {
    text-decoration: none;
    color: inherit;
}

.AboutImg {
    display: inline-block;
    position: relative;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    margin: 1rem;
}

.AboutImg img {
    width: 100%;
    height: auto;
}

.About .Flex {
    flex-wrap: wrap;
}

.About h2 {
    text-align: center;
}

/* .About .AboutCard p {
    visibility: hidden;
} */

/* .AboutCard:hover p{
    visibility: visible;
    padding: 10px;
    z-index: 1;
} */

/* About Description */

.AboutDescription {
    margin: 5rem;
}

.AboutDescription h1 {
    animation: about-article-load 300ms ease-in 400ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

.AboutDescription p {
    animation: about-paragraph-load 200ms ease-in-out 400ms;
    animation-fill-mode: forwards;
    transform: translateX(-20px);
    opacity: 0;
}

@keyframes about-article-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes about-paragraph-load {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* About Description End */

.Card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.Languages {
    margin-top: 10rem;
}

.Languages h2 {
    text-align: center;
}

.Languages .Card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.Languages .Card h4 {
    font-size: 20px;
}

.Languages .Card:hover {
    transform: translateY(-15px);
    box-shadow: 0 .3rem 1rem var(--MOSSGREEN);
}

.Languages .Flex {
    flex-wrap: wrap;
}

@media(max-width:768px) {
    .AboutImg {
        width: 100px;
        height: 100px;
    }
    .AboutCard h2 {
        font-size: 1.3rem;
    }
    .Grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat((1, 1fr));
    }
}

@media(max-width:500px) {
    .AboutCard {
        width: 1000rem;
        height: 35vh;
    }
    .AboutCard h2 {
        font-size: 1.3rem;
    }
}