.Pagination li {
  list-style-type:none;
  display: inline-block;
 }
.Pagination a{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.PageItem{
  background-color: gray;
}
.PageLink:active,
.PageLink:focus
{
  background-color: white;
}
