.LoginContainer {
  max-width: 1100px;
  margin: 265.9px auto;
  padding: 0 120px;
  width: 80%;
  position: relative;
}

.Card {
  background: rgba( 255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5);
  backdrop-filter: blur( 4px);
  -webkit-backdrop-filter: blur( 4px);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18);
}

.FormElement {
  position: relative;
  padding: 5px;
  margin-top: 20px;
}

.FormElement input[type='password'], .EditProject input[type='password'] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--celtic-blue);
}

.LoginBtn {
  outline: none;
  margin-top: 10px;
  padding: 10px 50px;
  color: var(--celtic-blue);
  display: inline-block;
  border-radius: 10px;
  border: 1px solid var(--celtic-blue);
  font-weight: bold;
  position: relative;
  left: 20rem;
}

.LoginBtn:hover {
  background-color: var(--celtic-blue);
  color: white;
}

.LoginBtn:active {
  padding: 8px 49px;
}

@media(max-width:968px) {
  .Login {
    width: 350px;
    margin: 25px auto;
  }
}