.Container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.Flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ProjectsCard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 80vh;
    height: 50vh;
    margin: 15px;
    position: relative;
}
.ProjectNameCard{
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 30%;
    opacity: 0;
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    z-index: 10;
    transition: bottom 0.2s ease-in-out;
}
.ProjectNameCard h2{
   position: absolute; 
   top:5vh;
   left:5px;
}
.Projects .ProjectsCard {
    position: relative;
    max-width: 25%;
    transition: transform 0.2s ease-in;
}

.Projects .ProjectsImg {
    width: 100%;
    height: 100%;
}
.ProjectsCard:hover .ProjectsImg{
    width: 100%;
    height:100%;
}

.ProjectsCard:hover .ProjectNameCard{
    bottom: 0;
    opacity: 1;
}

.Projects .Flex{
    flex-wrap: wrap;
}

/* .About .AboutCard p {
    visibility: hidden;
} */

/* .AboutCard:hover p{
    visibility: visible;
    padding: 10px;
    z-index: 1;
} */