.Showcase {
    height: 610px;
    background-color: white;
    position: relative;
}

.Showcase::before, .Showcase::after {
    content: '';
    position: absolute;
    height: 150px;
    bottom: -70px;
    right: 0;
    left: 0;
    backdrop-filter: blur( 3.3px);
    -webkit-backdrop-filter: blur( 10px);
    background-color: rgba(8, 253, 216, 0.5);
    transform: skewY(-2deg);
}

.Container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.Card {
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.Showcase .Grid {
    overflow: visible;
}

.Form {
    position: relative;
    top: 100px;
    height: 400px;
    margin: 10px;
    z-index: 100;
}

.Info {
    margin: auto;
    justify-self: center;
    position: relative;
}

.FormElement {
    padding: 5px;
    margin-top: 20px;
}

.FormElement input[type='text'], .FormElement textarea[type='text'] {
    border: none;
    border-bottom: 1px solid var(--celtic-blue);
}

.Button {
    outline: none;
    margin-top: 10px;
    padding: 10px 50px;
    color: var(--celtic-blue);
    display: inline-block;
    border-radius: 10px;
    border: 1px solid var(--celtic-blue);
    font-weight: bold;
}

.Button:hover {
    background-color: var(--celtic-blue);
    color: white;
}

.Button:active {
    padding: 8px 49px;
}

/* GoogleMap */
.GoogleShow {
    height: 400px;
    position: relative;
}

.GoogleMap {
    width: 100%;
    height: 100%;
}

/* GoogleMap End */

@media(max-width:768px) {
    .Grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .Form {
        top: 70px;
        width: 500px;
        justify-self: center;
        margin: auto;
    }
    .Info {
        justify-self: center;
        margin: 2rem;
    }
    .Showcase {
        height: auto;
    }
}