.Background {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows:repeat(5,180px);
  grid-template-areas:
    "countdown"
    "logo"
    "title"
    "description"
    "social";
  justify-items: center;
  align-items: center;
  color: rgb(240, 179, 68);
  background-image: url(../images/skulls.svg);
  background-color: var(--FIREOPAL);
  border-bottom-left-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  min-height: calc(100vh - 100px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}