.Showcase {
    height: 400px;
    background-color: white;
    position: relative;
}

.Container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.Showcasetext {
    padding: 10px;
}

.CardKP {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: whitesmoke;
    margin: 10%;
}

.CardKPPhrase {
    position: absolute;
    padding: 2rem 0.5rem;
    left: -25%;
    top: 0;
    width: 4.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: var(--darkGrey);
    color: var(--LAURELGREEN);
    font-weight: bold;
    transition: .5s;
}

.CardKPComponent {
    width: 50%;
    display: block;
    justify-content: end;
    align-items: flex-end;
    transition: .9s;
}

.CardKPItem {
    display: block;
    text-align: center;
}

.CardKPItem:before {
    margin-bottom: .25rem;
}

/* CARD HOVER*/

.CardKP:hover {
    box-shadow: 0 .3rem 1rem var(--MOSSGREEN);
}

.CardKP:hover .CardKPPhrase {
    left: -3%;
}

/* .Card:hover .CardItem {
    margin-left: 3.5rem;
    padding: 0 1.5rem;
    text-align: right;
} */

.Flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.Languages h2{
    text-align: center;
}

.Languages .Card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.Languages .Card h4 {
    font-size: 20px;
}

.Languages .Card:hover {
    transform: translateY(-15px);
    box-shadow: 0 .3rem 1rem var(--MOSSGREEN);
}

.Languages .Flex {
    flex-wrap: wrap;
}

@media(max-width:768px){
    .Grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .Container{
        justify-self: center;
        margin: auto;
    }
    .Showcase{
        height: auto;
    }
    .Languages .Card h4{
        font-size: 10px;
    }
}