.AboutContainer {
    max-width: 1100px;
    overflow: auto;
}

.Card {
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.EditAbout {
    padding: 5px;
    margin-top: 20px;
}

.EditAbout input[type='text'], .EditAbout textarea[type='text'] {
    border: none;
    border-bottom: 1px solid var(--celtic-blue);
}

.AboutBtn {
    outline: none;
    margin-top: 10px;
    padding: 10px 50px;
    color: var(--celtic-blue);
    display: inline-block;
    border-radius: 10px;
    border: 1px solid var(--celtic-blue);
    font-weight: bold;
}

.AboutBtn:hover {
    background-color: var(--celtic-blue);
    color: white;
}

.AboutBtn:active {
    padding: 8px 49px;
}

/* About LIST CSS */

.AboutList {
    margin-top: 3rem;
    border-collapse: collapse;
}

/* 
This area for the table column and row lines!!!
.ProjectList td, .ProjectList th {
    border: 1px solid rgba(37, 38, 39, 0.1);
} 
*/

.AboutList th {
    text-align: center;
    background-color: rgba(8, 253, 216, 0.5);
    padding: 10px 15px;
}

.AboutList td {
    border-bottom: 1px solid rgba(37, 38, 39, 1);
    text-align: center;
}

.AboutList tr:nth-child(even) {
    background-color: rgba(37, 38, 39, 0.3);
}

.AboutList tr:hover {
    background-color: #dddddd;
}

.AboutListBtn {
    outline: none;
    margin: 10px 5px;
    color: var(--celtic-blue);
    display: inline-block;
    border-radius: 10px;
    border: 1px solid var(--celtic-blue);
    font-weight: bold;
    font-size: 1.2rem;
}

.AboutListBtn:hover {
    background-color: var(--celtic-blue);
    color: white;
}

/* About LIST CSS END */