.SidebarContainer{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
  }


.SidebarIcon{
    color: white;
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
}

.SidebarWrapper{
    color: white;
}

.SidebarMenu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,100px);
    text-align: center;
}

.SidebarLink{
    color: transparent;
    position: relative;
    display: block;
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    line-height: 1.2rem;
    -webkit-text-stroke: 1px #ffffff;
}

.SidebarLink:hover{
    color: #ffffff;
    -webkit-text-stroke: 1px #000;
}

.SidebarLink:before, .SidebarLink:after{
    content: attr(data-text);
    position: absolute;
    transition: 0.5s;
}

.SidebarLink:hover:before{
    color: var(--FIREOPAL);
    z-index: 1;
    -webkit-text-stroke: 1px #ffffff;
    transform: translate(10px, -10px);
}

.SidebarLink:hover:after {
    color: var(--orange);
    z-index: 2;
    -webkit-text-stroke: 1px #ffffff;
    transform: translate(20px, -20px);
}