.Footer {
    background: var(--bizim-siyah);
    height: 100%;
    width: 100%;
    position: relative;
  }

.Container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap:20rem;
}

.Copyright p {
    color: white;
    text-align: center;
}

.Copyright a {
    text-decoration: none;
}

.Copyright p a span{
    color: var(--FIREOPAL);
}

.Social {
    color: white;
    justify-self: center;
}

.Footer .Social a {
    margin: 0 10px;
    font-size: 2rem;

}

@media(max-width:768px){
    .Grid{
        gap:10rem;
    }
}