:root {
  --green: #4cedc4;
  --darkGrey: #292f36;
  --white: #fffffa;
  --black: #000013;
  --orange: #fa8334;
  --red: #ff312e;
  --LAURELGREEN: #B3C0A4;
  --MOSSGREEN: #7C9064;
  --DARKLAVA: #463F3A;
  --FIREOPAL: #E65F5C;
  --MORNINGBLUE: #88A096;
  --SLATEBLUE: #735CDD;
  --INDEPENDENCE: #505168;
  --nice-pink: #ff99cc;
  /* BASIC COLORS */
  --light-sky-blue: #9ED4FCff;
  --celtic-blue: #3371BEff;
  --olive-drab-3: #5E9415ff;
  --russian-green: #6A8E5Cff;
  --dark-jungle-green: #1C2E27ff;
  --lemon-meringue: #EEE8C5ff;
  --chocolate: #D2691E;
  /*Temel renklerimiz*/
  --bizim-siyah: #252627;
  --bizim-gri: #4d4d4e;
  --bizim-parlak-yesil: #08fdd8;
  --bizim-siyah-a7: rgba(37, 38, 39, 0.7);
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--bizim-gri);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bizim-siyah-a7);
  box-shadow: inset 0 0 6px rgba(8, 253, 216, 0.5);
  outline: 1px solid var(--bizim-gri);
}