.DashboardNavbar {
    margin: 0;
    padding: 0;     
    justify-content: start;
    align-items: center;
    position: absolute;
    top:0;
}

.DashboardNavbar ul {
    list-style: none;
    padding: 13px;
    position: relative;
    top:10rem;
   
}
.DashboardMenu li {
    margin:30px 0;
}
.DashboardNavbar a {
    color:var(--bizim-parlak-yesil) ;
    font-size: 1.2rem;
    text-decoration: none;
    
}

.DashboardMenu span{
    opacity: 0;
    padding-left: 6px;
   
}
.DashboardMenu {
    border: 1px solid var(--bizim-gri);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.50);
    position: fixed;   
    width:2.5%;
    height: 100vh;
    white-space: nowrap;
    opacity: 95%;
    transition: 0.3s ease-in;
}
.DashboardMenu:hover{
    width:10%;
    transition: 0.3s ease-in all;
}

.DashboardMenu:hover span{
    opacity: 1;
    transition: 0.8s ease-in all;
}   

@media(max-width: 768px){
    .DashboardMenu{
        width: 5rem;
    }
    .DashboardNavbar ul{
        padding: 10px;
    }
}